<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <h1>Editing post</h1>
    <div class= "div-edit">
        <p>Currently editing <b><%=post.username%>'s</b> post</p>
    </div>    

    <form id="form-full" method="POST" action="/images/<%=post.id%>?_method=PATCH">

        <section class="section-form"> 
            <label for="textAreaDescription" class="label-form">Description of the post: </label> <br>
            <textarea name="description" id="" class="input-form" cols="30" rows="5" required><%= post.description  %></textarea>
        </section>
        
        <section class="section-form">
            <label for="ImageURL" class="label-form">URL for the image: </label> <br>
            <input type="url" name="img" id="" class="input-form" required>
            <p>The current URL being hosted is: <%=post.img%></p>
        </section>

        <section class="section-form">
            <button class="button-inspect big-text">Save</button>
        </section>
    </form>
    
    <div id="div-form-cancel">
        <a href="/images"><button class="button-cancel big-text">Cancel Edit</button></a>
    </div>

    <%- include('../partials/footer') %>
</body>
</html>