<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>
    <h1>Editing post</h1>
    <div>
        <p>Currently editing <b><%=post.username%>'s</b> post</p>
    </div>

    <!-- remove these br later -->
    <br><br><br>

    <form method="POST" action="/images/<%=post.id%>?_method=PATCH">
        <section>
            <label for="textAreaDescription">Description of the post: </label> 
            <textarea name="description" id="" cols="30" rows="5"><%= post.description  %></textarea>
        </section>
        <section>
            <label for="ImageURL">URL for the image: </label>
            <input type="url" name="url" id="" >
        </section>
        <button>Save</button>
    </form>
    
    <a href="/images"><button>Cancel edit</button></a>

    <%- include('../partials/footer') %>
</body>
</html>