<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>

    <h1>Explore some posts created by users!</h1>

    <div>
        <% for(let post of fakeDataBase) { %>
            <div>
                <!-- have it so clicking on the image will bring them to a more detailed page with just the one post-->
                <p><b><%= post.username %></b> - <%= post.description %></p>
                <img src="<%= post.img %>" alt="<%= post.description %>">
            </div>
        <% } %> 
    </div>
    
    <!-- remove these after fixing the issue with css of footer covering some part of webpage -->
    <br> <br> <br>
    <%- include('../partials/footer') %>

</body>
</html>