<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>

    <h1>Explore images uploaded by our users!</h1>

    <div class="div-outer">
        <% for(let post of fakeDataBase) { %>
            <span class="span-desc">
                <p class="p-index"><b><%= post.username %></b> - <%= post.description %></p> 
            </span>

            <div class="div-button">
                <a href="/images/<%= post.id %>"> <button class="button-inspect">Inspect Post</button> </a> 
            </div>
            
            
            <div clas="div-img">
                <img class="img-index" src="<%= post.img %>" alt="<%= post.description %>">
           </div>  
        <% } %> 
    </div>
    
    <!-- remove these after fixing the issue with css of footer covering some part of webpage -->
    <br> <br> <br>
    <%- include('../partials/footer') %>

</body>
</html>