<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

<body>
    <%- include('../partials/navbar') %>

    <h1>Explore images uploaded by our users!</h1>

    <!-- Outer div to apply CSS properties to everything inside it -->
    <div class="div-outer">

        <!-- For every array element in fakeDataBase, display the username, description image and an inspect button -->
        <% for(let post of fakeDataBase) { %>
            <div class="div-inner">
                <span class="span-desc">
                    <p class="p-index"><b><%= post.username %></b> - <%= post.description %></p> 
                </span>

                <div class="div-button">
                    <a href="/images/<%= post.id %>"> <button class="button-inspect">Inspect Post</button> </a> 
                </div>
                            
                <div clas="div-img">
                    <img class="img-index" src="<%= post.img %>" alt="<%= post.description %>">
                </div>  
            </div>
        <% } %> 
    </div>

    <br> <br> <br>
    <%- include('../partials/footer') %>

</body>
</html>